.ui.dropdown>.text {
    margin: 0;
}

.margin-top-md {
    margin-top: 8px;
}

.margin-top-sm {
    margin-top: 4px;
}

.margin-right-sm {
    margin-right: 4px;
}

.flex-horizontal-align-items-center {
    align-items: center;
    display: flex;
}

.flex-horizontal-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.min-width-max-content {
    min-width: max-content;
}
